{{ define "main" }}
	<!-- Post -->
	<section class="post">
	  <header class="major">
		  {{ with .Date }}
		  <span class="date">{{ .Format (partial "posts/dateFormat" $) }}</span>
		  {{ end }}
		  <h1>{{ .Title }}</h1>
		  <p>{{ .Description }}</p>
	  </header>
	  {{ with partial "posts/imgURL" . }}
	  <div class="image main"><img src="{{ . }}" alt="" /></div>
	  {{ end }}
	  
	  {{ .Content }}
	  {{ partial "postcustom" . }}

	  {{ partial "posts/tags.html" .}}
	  
	  {{ if not .Params.disableComments }}
	  {{ template "_internal/disqus.html" . }}
	  {{ end }}
	</section>
{{ end }}