<!-- Posts -->
<section class="posts">
    {{ range $page := . }}
      <article>
          <header>
              {{ with .Date }}
              <span class="date">{{ .Format (partial "posts/dateFormat" $page) }}</span>
              {{ end }}
              <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          </header>
          {{ with partial "posts/imgURL" . }}
          <a href="{{ $page.Permalink }}" class="image fit"><img src="{{ . }}" alt="" /></a>
          {{ end }}
          <p>{{ partial "posts/excerpt" . }}</p>
          <ul class="actions special">
              <li><a href="{{ .Permalink }}" class="button">{{ i18n "LINK_TEXT" }}</a></li>
          </ul>
      </article>
    {{ end }}
</section>